body {
    background-color: lightblue;
  }
  
 

/* div {

  background-color: rgb(0 0 0 / 10%) ;
  background-image:url(/images/delta.jpeg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position:300px 300px; */
  background-size: 1000px;
  background-size: 20% 50%;
}   */

h1 {
  color: rgb(13, 13, 98);
}

.intro_text{
  color: rgb(80, 27, 116);
  color: black;
}